:root {
    --body-bg: #F5F5F5;
    --body-cl: #111111;
    --crm-primary: #1b296a;
    --crm-secondary: #ed6840;
    --crm-red: #cf2d4f;
    --crm-blue: #7db9da;
    --crm-yellow: #f6af2e;
    --crm-green: #488287;
    --crm-hv-light: #7db9da15;
    --crm-hv-dark: #48828710;
    --border-radius: .4rem;
}

body.alt {
    --body-bg: var(--crm-primary);
    --body-cl: #D9D9FF; 
}

@media print {
    body, body.alt {
        --body-bg: #F5F5F5;
        --body-cl: #111111;
    }
    body > header nav {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--body-bg);
    color: var(--body-cl);
}
